<div class="card-grid">
    <div class="card">
      <img src="../../../assets/imagens/marvelps4.webp" alt="Herói 1" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Homem-Aranha</h3>
        <p class="card-text">O Homem-Aranha é Peter Parker, um jovem que ganha poderes ao ser picado por uma aranha radioativa. Com agilidade, força e senso de perigo, ele enfrenta o crime em Nova York. Mesmo poderoso, é guiado por responsabilidade e vive os desafios de uma vida comum.</p>
        <button class="card-btn">Ver Perfil</button>
      </div>
    </div>
  
    <div class="card">
      <img src="../../../assets/imagens/marvelps5.webp" alt="Herói 2" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Homem-Aranha</h3>
        <p class="card-text">A armadura do Homem-Aranha é um traje tecnológico, leve e resistente, que oferece mais proteção e recursos como visão avançada, comunicação, teias especiais e, em algumas versões, braços mecânicos e inteligência artificial.</p>
        <button class="card-btn">Ver Perfil</button>
      </div>
    </div>
  
    <div class="card">
      <img src="../../../assets/imagens/marvelps6.webp" alt="Herói 3" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Homem-Aranha</h3>
        <p class="card-text">O Homem-Aranha luta com agilidade e criatividade, usando teias, acrobacias e seu sentido-aranha para desviar e atacar com precisão. É rápido, inteligente e usa o ambiente a seu favor.</p>
        <button class="card-btn">Ver Perfil</button>
      </div>
    </div>
  </div>